{% extends 'base.html' %}
{% load static %}

{% block links %}
<link type="text/css" rel="stylesheet" href="{% static 'main/css/main.css' %}">
<script src="{% static 'main/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="list-of-notes">
    <div class="tools">
        <form action="{% url 'create' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="name" name="name" class="create-input">
            <button type="submit" class="create-btn">create</button>
        </form>
    </div>
    <div class="btn-notes">
        {% for n in notes %}
        <a href="{% url 'note' n.id %}">{{ n.name }}</a>
        {% endfor %}
    </div>
    
</div>
{% endblock %}

{% block workboard %}
{% if note%}
<form action="update/" method="post">
    {% csrf_token %}
    <textarea name="content" id="" cols="30" rows="10" class="dashboard-textarea">{{ note.content }}</textarea>
    <button type="submit" class="dashboard-done">done</button>
</form>
{% endif %}
{% endblock %}
